* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.rating-scale {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.rating {
    display: flex;
    align-items: center;
}

.rating span {
    font-size: 14px;
    margin: 0 10px;
}

.rating button {
    background-color: #ddd;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.rating button:hover {
    opacity: 0.8;
}

.rating button:nth-child(2) {
    background-color: #d32f2f; /* Vermelho */
}

.rating button:nth-child(3) {
    background-color: #e64a19; /* Laranja escuro */
}

.rating button:nth-child(4) {
    background-color: #f57c00; /* Laranja */
}

.rating button:nth-child(5) {
    background-color: #fbc02d; /* Amarelo escuro */
}

.rating button:nth-child(6) {
    background-color: #ffee58; /* Amarelo */
}

.rating button:nth-child(7) {
    background-color: #d4e157; /* Verde claro */
}

.rating button:nth-child(8) {
    background-color: #9ccc65; /* Verde mais claro */
}

.rating button:nth-child(9) {
    background-color: #7cb342; /* Verde */
}

.rating button:nth-child(10) {
    background-color: #4caf50; /* Verde escuro */
}

.rating button:nth-child(11) {
    background-color: #388e3c; /* Verde ainda mais escuro */
}

.low {
    color: #d32f2f;
}

.high {
    color: #388e3c;
}

footer {
    margin-top: 20px;
}

footer p {
    font-size: 12px;
    color: #666;
    text-align: center;
    margin-top: 10px;
}
