/* Reset básico para remover margens e espaçamentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Courier, monospace;
    line-height: 1.6;
    background-color: #fbeff5; /* Rosa bebê */
    color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
  
  }
  
  header {
    background-color: #fff;
    width: 60%;
    padding: 20px;
    border-radius: 50px;
    border: 5px  #ff6f91;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
    text-align: center; /* Centralizar conteúdo dentro do header */
    text-size-adjust: 100%;
    align-self: center;
    z-index: 1;
    padding-top: 50px;
  }

  
  
  /* Estilo para a imagem do perfil */
  #profile-photo {
    width: 200px; /* Tamanho da imagem */
    height: 200px;
    border-radius: 50%; /* Torna a imagem redonda */
    border: 3px solid #ff6f91;  /* Borda rosa sólida de 3px */
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Sombra */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço sem distorcer */
    margin-bottom: -50px; /* Espaçamento abaixo da imagem */
    z-index: 10;
  }

  .flex-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente, se necessário */
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  p {
    color: #555;
    text-align: justify; /* Justifica o texto dos parágrafos */
    width: 60%;
    align-self: center;
    margin: 30px auto;
  }
  
  a {
    color: #ff6f91; /* Rosa vibrante */
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para seções específicas */
  #sobre, #Vida\ Profissional, #Vida\ Acadêmica {
    margin-bottom: 20px;
  }
  
  #computer {
    max-width: 800px;
    margin: 0 auto;
  }
  