body {
    background-image:  linear-gradient(to right, #7B7987, #A00609);
    height: 100%;
    margin: 0;
    padding: auto;
    font-family: Montserrat, sans-serif;
    overflow: hidden;
  }

  .logo {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .logo img {
    align-self: flex-start;
    width: 70px;
    height: auto;
  }